# Ignore */__pycache__/* files
global-exclude __pycache__/*

# Ignore */Lib/*
global-exclude Lib/*

# Ignore */Scripts/*
global-exclude Scripts/*

# Ignore */share/*
global-exclude share/*

.env
*.pyc
**/streamlit_test/env/

global-exclude **/bin/*
global-exclude **/script/*
global-exclude **/lib/*
global-exclude **/include/*
global-exclude **/output/*
output/*
old/*
*.zip
*.png
*.txt
**/bin*
xcyclopedia/script/bin/*
*.exe


xcyclopedia/script/bin/
xcyclopedia/script/bin/**
**/xcyclopedia/script/bin/**
